.m-header-topbar {
  position: relative;
  width: 1190px;
  height: 40px;
  margin: 0 auto;
}
.m-header-topbar .m-geo {
  padding-top: 12px;
}
.m-header-topbar .m-geo .position,
.m-header-topbar .m-geo .login,
.m-header-topbar .m-geo .register {
  float: left;
  font-size: 12px;
}
.m-header-topbar .m-geo .el-icon-location {
  font-size: 12px;
}
.m-header-topbar .m-geo .changeCity {
  display: inline-block;
  margin: 0 4px;
  padding: 0 2px;
  border-radius: 2px;
  text-align: center;
  background: #F4F4F4;
  border: 1px solid #E5E5E5;
}
.m-header-topbar .m-geo .login,
.m-header-topbar .m-geo .register {
  margin-left: 14px;
}
.m-header-topbar .m-geo .register,
.m-header-topbar .m-geo .el-icon-location {
  color: #999;
}
.m-header-topbar .m-geo .el-icon-location {
  padding-top: 3px;
  margin-right: 4px;
  color: #666;
}
.m-header-topbar .m-geo .position a {
  color: #666;
}
.m-header-topbar .m-geo .position a:hover {
  color: #31BBAC;
}
.m-header-topbar .m-geo .register:hover {
  color: #31BBAC;
}
.m-header-topbar .m-nav {
  float: right;
}
.m-header-topbar .m-nav ul {
  padding-top: 12px;
}
.m-header-topbar .m-nav ul li {
  position: relative;
  float: left;
  font-size: 12px;
  color: #999;
}
.m-header-topbar .m-nav ul li a:hover {
  color: #31BBAC;
}
.m-header-topbar .m-nav ul li a {
  height: 40px;
  padding: 12px 14px;
  border-color: #e5e5e5;
  box-sizing: border-box;
  color: #999;
}
.m-header-topbar .m-nav ul dl {
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 9999;
  display: none;
  background-color: #fff;
}
.m-header-topbar .m-nav ul dl dd {
  box-sizing: border-box;
}
.m-header-topbar .m-nav ul dl dd a {
  display: inline-block;
  min-width: 76px;
  padding: 12px 0;
  box-sizing: border-box;
  text-align: center;
}
.m-header-topbar .m-nav ul .shop-center {
  left: -44px;
}
.m-header-topbar .m-nav ul .shop-center a {
  width: 120px;
}
.m-header-topbar .m-nav ul .subContainer > dl {
  display: block;
}
.m-header-topbar .m-nav ul .subContainer {
  display: flex;
  flex-wrap: wrap;
}
.m-header-topbar .m-nav ul .subContainer .eat-food {
  width: 156px;
}
.m-header-topbar .m-nav ul .subContainer .eat-food dd {
  width: auto;
}
.m-header-topbar .m-nav ul .subContainer .see-movie {
  width: 90px;
}
.m-header-topbar .m-nav ul .subContainer .see-movie dd {
  width: auto;
}
.m-header-topbar .m-nav ul .subContainer dl {
  float: left;
  width: 234px;
  position: relative;
  top: 0;
  margin-right: 47px;
}
.m-header-topbar .m-nav ul .subContainer dt {
  margin-bottom: 26px;
  text-align: center;
  font-size: 14px;
  color: #31BBAC;
}
.m-header-topbar .m-nav ul .subContainer dd {
  display: inline-block;
  width: 31%;
  text-align: center;
}
.m-header-topbar .m-nav ul .subContainer dd a {
  height: auto;
  padding: 5px 0;
}
.m-header-topbar .m-nav ul .subContainer .app-show {
  float: right;
  width: 380px;
}
.m-header-topbar .m-nav ul .subContainer .app-show dd {
  display: inline-block;
  width: auto;
  margin: 0 6px;
  font-size: 0;
}
.m-header-topbar .m-nav ul .subContainer .app-show dd a {
  display: inline-block;
  min-width: auto;
  font-size: 0;
}
.m-header-topbar .m-nav ul .subContainer .appicon {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.m-header-topbar .m-nav ul .site .subContainer {
  display: none;
  position: absolute;
  top: 28px;
  left: -1114px;
  z-index: 9999;
  width: 1190px;
  padding: 30px 36px 36px 47px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.m-header-topbar .m-nav ul .list:hover > a {
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.m-header-topbar .m-nav ul .list:hover .shop-center a,
.m-header-topbar .m-nav ul .list:hover .my-center a {
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.m-header-topbar .m-nav ul .list:hover > dl {
  display: block;
}
.m-header-topbar .m-nav ul .list:hover .subContainer > dl {
  display: block;
}
.m-header-topbar .m-nav ul .list:hover .subContainer {
  display: inline-block;
}
